body{
    background-image: url('./main1.jpg');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    
  }
  

th {
  /* background-color: #04AA6D; */
  color: white;
  font-size: large;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
td{
  color: lightsteelblue;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
}
table tr th{
  
    white-space:nowrap;

}
.fit {
width: 50%;
margin-left: 30%;
}
table{
    margin-top: 5%;
    
    
   
}


tr {
  /* github.com/w3c/csswg-drafts/issues/1899 */
  transform: scale(1);
  position: relative;
}
:invalid .if-valid{
  display: none;
}

:checked::before {
  
  content: '';
  position: absolute;
  border-color:red;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  
  
  
 
} 

